<div  style="margin:2%">
  <div ng-include="'views/coursetakerHeader.html'"></div>
  <div class="container">
    <div class="row">
        <div ng-if="quizQuestions.length>0">
          <div ng-repeat="quize in allQuizes.quizes" ng-if="quize.quizID==quizeId" >
            <label class="list-group-item active" >
              {{quize.quizTitle}}
            </label>
            <div id="quiz_description">
              {{quiz.quizDescription}}
            </div>
            <div ng-repeat="question in quizQuestions" class="panel panel-default">
                  <div class="panel-body">
                    {{question.questionTitle}}
                    <br>
                    {{question.questionQuestion}}
                    <div  ng-if="responseError.indexOf(question.questionID) !== -1" style="background-color:red;">Incorrect</div>
                    <br>
                    <ul class="list-group-item-clearfix">
                      <div ng-repeat="choice in question.questionAlternatives" class="">
                        <div class="radio form-inline" >
  						            <input type="radio" value="{{choice.alternativeValue}}" ng-model="question.value">
  						            <p>{{choice.alternativeValue}}</p>
                        </div>
                      </div>
                    </ul>
                 </div>
                <br>
            </div>
          </div>

          <h5 style="background-color:red;">{{errorMessage}}</h5>
          <button class="btn btn-success btn-block" ng-click="checkAnswers(quizQuestions)"> Check my answers</button>
          <div ng-if="buttonActive==1">
            <button class="btn btn-success btn-block" ng-click="saveAnswers(quizQuestions)">Submit my final answers</button>
          </div>

        <!--button type="button" id="nextButton" class="btn btn-success btn-block hide" onclick="nextModule(); return false;">Next module</button>';
        <button type="button" id="backButton" class="btn btn-success btn-block hide" onclick="backToMainPage(); return false;">Take another course</button-->
      </div>
      <div ng-if="quizQuestions.length==0">
        <p class="btn btn-success btn-block">No Questions Found for the selected Course</p>
      </div>
    </div>

  </div>
</div>
